// ALL-options-of-HTML-document _______________________________ //

@mixin html_body_content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@mixin container {
    max-width: 73.125rem;  // max-width: 1170px;
    padding: 0 .9375rem;  // padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

@mixin html_font_family {
    font-family: $_raleway, $_font_awesome_6_free, $_cardo, $_sans_serif;
}

@mixin flex_row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin bg_options {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin social_item {
    width: 2.4375rem;
    height: 2.4375rem;
    border: $_icon_bd;
}

@mixin social_brands {
    font-size: $_18px;
    color: $_icon_bd_grey;
    transition: 0.2s;

    &:hover {
        transform: scale(1.6);
    }

    &:active {
        transform: scale(1.7);
    }
}

@mixin facebook_hover {

    &:hover {
        color: $_facebook;
    }
}

@mixin x_twitter_hover {

    &:hover {
        color: $_x_twitter;
    }
}

@mixin linkedin_hover {

    &:hover {
        color: $_linkedin;
    }
}

// _______________________________ ALL-options-of-HTML-document //

// HEADER-section ________________________________________ //

@mixin header_bg {
    @include bg_options;
    position: relative;
    background-image: url('../img/header/bg-header.png');
    padding: 2.3975rem 0 7.5rem;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $_header_mask_blue;
        z-index: 5;
    }
}

@mixin header_nav_wrap {
    @include flex_row;
    justify-content: space-between;
    margin-bottom: 8.125rem;

    &::after {
        @include wrap_line;
    }
}

@mixin wrap_line {
    content: '';
    width: 100%;
    height: 0.0625rem;
    background-color: $_bd_light_grey;
    display: block;
}

@mixin mb_logo {
    margin-bottom: 2.243125rem;
}

@mixin logo_title {
    font-size: $_36px;
    font-weight: $_bold;
    text-transform: uppercase;
    color: $_logo_grey;

    &::after {
        content: 'box';
        color: $_bg_white;
        font-weight: $_logo_light;
        margin-left: -.625rem;
    }
}

@mixin nav_item {
    width: 8.375rem;
    line-height: 1.75rem;
}

@mixin link_nav_item {
    font-size: $_13px;
    font-weight: $_bold;
    color: $_bg_white;
    text-transform: uppercase;
    text-align: center;
    transition: 0.1s;

    &:hover {
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: $_nav_hover_bd;
    }

    &:active {
        border-bottom: $_nav_active_bd;
        color: $_link_hover_active_red;
    }
}  

@mixin list {
    @include flex_row();
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

@mixin main_title {
    font-size: $_64px;
    font-weight: $_black;
    text-align: center;
    color: $_bg_white;
    text-transform: uppercase;
    margin-bottom: 1.964375rem;
}

@mixin p_header_main_description {
    font-size: $_24px;
    font-weight: $_regular;
    text-align: center;
    color: $_bg_white;
    margin-bottom: 4.973125rem;
}

@mixin header_main_link {
    width: 23.125rem;
    margin: auto;
    text-align: center;
    line-height: 5rem;
    border: none;
    background-color: $_link_light_red;
    transition: 0.3s;

    &:hover {
        background-color: $_link_hover_active_red;
    }

    &:active {
        background-color: $_link_light_red;
        box-shadow: 0.25rem 0.25rem 1.875rem $_link_light_red;
    }
}

@mixin a_header_main_link {
    font-size: $_24px;
    font-weight: $_black;
    text-transform: uppercase;
    color: $_bg_white;
    padding: 1.5625rem 5.6875rem;
}

// ________________________________________ HEADER-section //

// FEATURES-section ______________________________________ //

@mixin features_bg {
    background-color: $_bg_white;
    padding: 7.25rem 0;
}

@mixin features_grid_wrap {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5.625rem 1.875rem;
    text-align: center;
    margin: auto;
}

@mixin grid_features_item {
    margin: auto;
    width: 22.5rem;
}

@mixin card_features_img {
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.8125rem;
}

@mixin card_features_title {
    font-size: $_24px;
    font-weight: $_black;
    text-transform: uppercase;
    color: $_title_dark_grey;
    line-height: 4.5rem;
    margin-bottom: 1.276875rem;
}

@mixin card_features_description_p {
    font-size: $_18px;
    font-weight: $_regular;
    color: $_text_grey;
}

// ________________________________________ FEATURES-section //

// WORK-section ______________________________________ //

@mixin work_grid {
    max-width: max-content;
    display:grid;
    grid-template-columns: repeat(4, minmax(23.625rem, 25%));
    grid-gap: .1875rem .125rem;
}

@mixin work_item {
    width: 23.625rem;
    height: 21.25rem;
    // position: relative;
    // z-index: 10;
}

@mixin work_item_a {
    width: 100%;
    height: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $_img_hover_red;

        .item-main {
            display: block;
        }
    }

    &:active {
        background-color: $_img_active_red;

        .item-main {
            display: block;
        }
    }
}

@mixin item_main_dsp {
    display: none;
}

@mixin i_title {
    font-size: $_24px;
    font-weight: $_black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
    color: $_bg_white;
}

@mixin i_descrip {
    font-size: $_18px;
    font-weight: $_regular;
    text-align: center;
    color: $_bg_white;
}

// ______________________________________ WORK-section //

// TEAM-section ______________________________________ //

@mixin team_section {
    background-color: $_bg_white;
    padding: 7.125rem 0;
}

@mixin team_grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(16.25rem, 25%));
    // grid-template-columns: repeat(4, 16.25rem);
    grid-column-gap: 1.875rem;
    justify-content: center;
}

@mixin member_photo {
    width: 16.25rem;
    height: 16.25rem;
    border: none;
    margin-bottom: 1.875rem;
}

@mixin member_photo_img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

@mixin member_name {
    margin-bottom: 1.11625rem;  
}

@mixin member_name_h2 {
    font-size: $_24px;
    font-weight: $_bold;
    color: $_title_dark_grey;
    text-align: left;
    margin-bottom: .33125rem;
}

@mixin member_name_p {
    font-size: $_18px;
    font-weight: $_regular;
    color: $_link_light_red;
    text-transform: uppercase;
    text-align: left;
}

@mixin member_description {
    width: 100%;
    margin-bottom: 2.36625rem;
}

@mixin member_description_p {
    font-size: $_18px;
    font-weight: $_regular;
    color: $_text_grey;
    text-align: left;
}

@mixin team_social_item {
    margin-right: .375rem;

    &:last-child {
        margin-right: 0;
    }
}

@mixin social_item_a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

// ______________________________________ TEAM-section //

// TESTIMONIALS-section ______________________________________ //



// ______________________________________ TESTIMONIALS-section //

// DOWNLOAD-section ______________________________________ //

@mixin activebox_download_bg {
    background-color: $_bg_white;
    padding: 7.125rem 0;
}

@mixin download_main_title {
    font-size: $_30px;
    font-weight: $_medium;
    text-align: center;
    line-height: 4.375rem;
}

@mixin download_second_title {
    font-size: $_18px;
    font-weight: $_bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.981875rem;
}

// ______________________________________ DOWNLOAD-section //

// ABOUT-section ______________________________________ //

@mixin activebox_about_bg {
    background-color: $_footer_light_blue;
    padding: 4.44625rem 0 4.19625rem;
}

@mixin about_wrap {
    @include flex_row;
    justify-content: center;
    margin-bottom: 4.1875rem;
}

@mixin about_location_share {
    width: 23.125rem;
    text-align: center;
}

@mixin about_title {
    font-size: $_18px;
    font-weight: $_bold;
    color: $_bg_white;
    text-transform: uppercase;
    margin-bottom: 1.8125rem;
}

@mixin about_text {
    font-size: $_18px;
    font-weight: $_regular;
    color: $_bg_white;
}

// ______________________________________ ABOUT-section //

// COPYRIGHT-section ______________________________________ //

@mixin activebox_copyright_bg {
    background-color: $_footer_dark_blue;
    padding: 1.5rem 0;
}

@mixin copyright_description_block {
    margin: auto;
    @include about_location_share;
}

@mixin p_description_copyright {
    font-size: $_18px;
    font-weight: $_regular;
    color: $_footer_text_grey;
}

@mixin span_description_copyright {
    color: $_bg_white;
}

// ______________________________________ COPYRIGHT-section //
