@mixin html_body_content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@mixin container {
    max-width: 73.125rem;  // max-width: 1170px;
    padding: 0 .9375rem;  // padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 20;
}

@mixin html_font_family {
    font-family: $_raleway, $_font_awesome_6_free, $_sans_serif;
}

@mixin flex_row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// HEADER-section ________________________________________ //

@mixin header_bg {
    position: relative;
    background-image: url('../img/header/bg-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.3975rem 0 7.5rem;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $_header_mask_blue;
        z-index: 5;
    }
}

@mixin mb_logo {
    margin-bottom: 2.243125rem;
}

@mixin logo_title {
    font-size: $_36px;
    font-weight: $_bold;
    text-transform: uppercase;
    color: $_logo_grey;

    &::after {
        content: 'box';
        color: $_bg_white;
        font-weight: $_logo_light;
        margin-left: -.625rem;
    }
}

@mixin nav_item {
    width: 8.375rem;
    line-height: 1.75rem;
}

@mixin link_nav_item {
    font-size: $_13px;
    font-weight: $_bold;
    color: $_bg_white;
    text-transform: uppercase;
    text-align: center;
    transition: 0.1s;

    &:hover {
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: $_nav_hover_bd;
    }

    &:active {
        border-bottom: $_nav_active_bd;
        color: $_link_hover_active_red;
    }
}

@mixin wrap_line {
    content: '';
    width: 100%;
    height: 0.0625rem;
    background-color: $_bd_light_grey;
    display: block;
    margin: 0 0 8.125rem;
    //2.243125rem
}

@mixin list {
    @include flex_row();
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

@mixin main_title {
    font-size: $_64px;
    font-weight: $_black;
    text-align: center;
    color: $_bg_white;
    text-transform: uppercase;
    margin-bottom: 1.964375rem;
}

@mixin p_header_main_description {
    font-size: $_24px;
    font-weight: $_regular;
    text-align: center;
    color: $_bg_white;
    margin-bottom: 4.973125rem;
}

@mixin header_main_link {
    width: 23.125rem;
    margin: auto;
    text-align: center;
    line-height: 5rem;
    border: none;
    background-color: $_link_light_red;
    transition: 0.3s;

    &:hover {
        background-color: $_link_hover_active_red;
    }

    &:active {
        background-color: $_link_light_red;
        box-shadow: 0.25rem 0.25rem 1.875rem $_link_light_red;
    }
}

@mixin a_header_main_link {
    font-size: $_24px;
    font-weight: $_black;
    text-transform: uppercase;
    color: $_bg_white;
    padding: 1.5625rem 5.6875rem;
}

// ________________________________________ HEADER-section //

// FEATURES-section ______________________________________ //

@mixin features_bg {
    background-color: $_bg_white;
    padding: 7.25rem 0;
}

@mixin features_grid_wrap {
    max-width: 73.125rem;
    display:grid;
    border: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5.625rem 1.875rem;
    text-align: center;
    margin: auto;
}

@mixin grid_features_item {
    margin: auto;
    width: 23.125rem;
}
