.activebox-work {
    background-color: $_bg_white;

    .work-grid {
        @include work_grid;
        margin: 0 auto;
        padding: 0;

        .work-item {
            @include work_item;

            a {
                @include work_item_a;

                .item-main {
                    @include item_main_dsp;

                    .item-title {
                        @include i_title;
                    }
    
                    .item-description {
                        @include i_descrip;
                    }
                }
            }
        }

        #work_1 {
            @include bg_options;
            background-image: url('../img/work/work_1.png');
        }

        #work_2 {
            @include bg_options;
            background-image: url('../img/work/work_2.png');
        }

        #work_3 {
            @include bg_options;
            background-image: url('../img/work/work_3.png');
        }

        #work_4 {
            @include bg_options;
            background-image: url('../img/work/work_4.png');
        }

        #work_5 {
            @include bg_options;
            background-image: url('../img/work/work_5.png');
        }

        #work_6 {
            @include bg_options;
            background-image: url('../img/work/work_6.png');
        }
        
        #work_7 {
            @include bg_options;
            background-image: url('../img/work/work_7.png');
        }
        
        #work_8 {
            @include bg_options;
            background-image: url('../img/work/work_8.png');
        }
    }
}
